
@{ ViewBag.Title = "Transaction History Report";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section css{
    @Styles.Render("~/TransactionHistory-CSS")
}
<div class="panel panel-inverse" id="main-panel">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
                <i class="fa fa-expand"></i>
            </a>
        </div>
        <h4 class="panel-title">  @ViewBag.Title</h4>
    </div>
    <div class="panel-body">
        <div class="row ">
            <div class="col-sm-6">
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="lblStartDate">Start Date</span>
                    </div>
                    <input type="text" id="StartDate" name="StartDate" class="form-control input date-format" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group input-group-sm mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="lblEndDate">End Date</span>
                    </div>
                    <input type="text" id="EndDate" name="EndDate" class="form-control input date-format" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="table-responsive" style="padding-top:10px;">
            <table id="tblTransactionHistory" class="table table-bordered tbl-100p" data-adjust="-30"></table>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/TransactionHistory-JS")
}