<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ScrewAndCrews.carserviceapp" android:installLocation="preferExternal" android:targetSandboxVersion="1">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="CarServiceApp.Android" android:theme="@style/MainTheme" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="CollectionViewDemos.Android" android:usesCleartextTraffic="true" android:networkSecurityConfig="@xml/network_security_config"></application>
</manifest>