
@{ ViewBag.Title = "Walk-In";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section css{
    @Styles.Render("~/WalkIn-CSS")
}
<div class="panel panel-inverse" id="main-panel">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand">
                <i class="fa fa-expand"></i>
            </a>
        </div>
        <h4 class="panel-title">  @ViewBag.Title</h4>
    </div>
    <div class="panel-body">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 m-b-5 ReadAndWrite">
                    <button type="button" id="btnAdd" class="btn btn-sm btn-primary btn-block "><span class="fa fa-plus"></span><span class="btnLabel" id="btnAddLabel"> Add</span></button>
                </div>
                <div class="col-sm-3 m-b-5 DeleteEnabled">
                    <button type="button" id="btnDelete" class="btn btn-sm btn-danger btn-block " disabled><span class="fa fa-trash-alt"></span><span class="btnLabel" id="btnDeleteLabel"> Delete</span></button>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="padding-top:10px;">
            <table id="tblWalkIn" class="table table-bordered tbl-100p" data-adjust="-30"></table>
        </div>
    </div>
</div>
<div class="modal fade " id="mdlWalkIn" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mdlWalkInTitle"> Create WalkIn</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-parsley-validate="true" id="frmWalkIn">
                <div class="modal-body">
                    <div id="divForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm m-b-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span id="lblWalkInID">UserID </span><span class="text-danger asteris-requiered">*</span></label>
                                    </div>
                                    <input type="text" id="UserID" name="UserID" class="form-control input" style="max-width:145px" data-parsley-required data-parsley-maxlength="12" maxlength="12" data-parsley-errors-container="#err-UserID" autocomplete="off">
                                </div>
                                <div id="err-UserID"></div>
                            </div>
                            <div class="col-sm-2 m-b-5">
                                <button type="button" id="btnGo" class="btn btn-sm btn-green btn-block ">Go</button>
                            </div>
                            <div class="col-sm-3 m-b-5">
                                <button type="button" id="btnNewCustomer" class="btn btn-sm btn-primary btn-block "><span class="fa fa-user"></span><span class="btnLabel" id="btnNewCustomerLabel"> Have an account</span></button>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm m-b-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span id="lblFirstName">First Name </span><span class="text-danger asteris-requiered">*</span></label>
                                    </div>
                                    <input type="text" id="FirstName" name="FirstName" class="form-control input isNewCusomre" data-parsley-maxlength="50" maxlength="50" data-parsley-errors-container="#err-FirstName" data-parsley-required autocomplete="off">
                                </div>
                                <div id="err-FirstName"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm m-b-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span id="lblLastName">Last Name </span><span class="text-danger asteris-requiered">*</span></label>
                                    </div>
                                    <input type="text" id="LastName" name="LastName" class="form-control input isNewCusomre" data-parsley-maxlength="50" maxlength="50" data-parsley-errors-container="#err-LastName" data-parsley-required autocomplete="off">
                                </div>
                                <div id="err-LastName"></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm m-b-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span id="lblMiddleName">Middle Name</span></label>
                                    </div>
                                    <input type="text" id="MiddleName" name="MiddleName" class="form-control input isNewCusomre" data-parsley-maxlength="50" maxlength="50" data-parsley-errors-container="#err-MiddleName" autocomplete="off">
                                </div>
                                <div id="err-MiddleName"></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm m-b-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span>Email</span></label>
                                    </div>
                                    <input type="text" id="EmailAddress" name="EmailAddress" class="form-control input isNewCusomre" data-parsley-maxlength="100" maxlength="100" data-parsley-type="email" data-parsley-errors-container="#err-EmailAddress" autocomplete="off">
                                </div>
                                <div id="err-EmailAddress"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm m-b-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span>Contact No</span></label>
                                    </div>
                                    <input type="text" id="ContactNo" name="ContactNo" class="form-control input isNewCusomre" data-parsley-maxlength="12" maxlength="12" data-parsley-errors-container="#err-ContactNo" autocomplete="off">
                                </div>
                                <div id="err-ContactNo"></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm m-b-5">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span>Password </span><span class="text-danger asteris-requiered">*</span></label>
                                    </div>
                                    <input type="password" id="Password" name="Password" class="form-control input isNewCusomre" data-parsley-maxlength="50" maxlength="50" data-parsley-errors-container="#err-Password" data-parsley-required autocomplete="off">
                                </div>
                                <div id="err-Password"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group input-group-sm mb-1">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span>Date</span><span class="text-danger asteris-requiered">*</span></label>
                                    </div>
                                    <input type="text" id="Startdate" name="Startdate" class="form-control input date-format" data-parsley-maxlength="10" maxlength="10" data-parsley-errors-container="#err-Startdate" autocomplete="off">
                                </div>
                                <div id="err-Startdate"></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-12">
                                <div class="input-group input-group-sm mb-1">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" style="width:110px;"><span>Remarks</span><span class="text-danger asteris-requiered">*</span></label>
                                    </div>
                                    <input type="text" id="Remarks" name="Remarks" class="form-control input" data-parsley-maxlength="255" maxlength="255" data-parsley-errors-container="#err-Remarks" autocomplete="off">
                                </div>
                                <div id="err-Remarks"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" style="padding-top:10px;">
                        <table id="tblService" class="table table-bordered tbl-100p" data-adjust="-30"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="ID" name="ID" class="input">
                    <div class="ReadAndWrite">
                        <button type="submit" class="btn btn-primary" id="btnSave"> <span class="fa fa-save"></span> <span class="btnLabel btnSaveLabel"> Save</span></button>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><span class="fa fa-times"></span> <span class="btnLabel btnCloseLabel"> Close</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/WalkIn-JS")
}